/*output css
=========*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

form {
  margin-top: 250px;
  position: absolute;
  margin-left: 400px;
  display: none;
}

.right {
  float: left;
  font-weight: normal;
  font-size: 1.2em;
  margin-top: -30px;
  margin-left: 820px;
  color: #34495e;
  font-family: 'Open Sans', sans-serif;
}

.left {
  float: right;
  margin-right: 1050px;
  margin-top: -10px;
  font-weight: normal;
  font-size: 1.2em;
  color: #34495e;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  height: 50px !important;
  margin-top: -12px !important;
  margin-left: -4px !important;
  border-radius: 0 !important;
}
form input {
  width: 300px;
  height: 50px;
  font-size: 2em;
}

.output {
  width: 80%;
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
  z-index: 10;
  /*display: none;*/
}

.graph {
  width: 800px;
  background-color: #2C3E50;
  height: 1px;
  margin-bottom: 50px;
}

.output .circle {
  width: 27px;
  height: 27px;
  border-radius: 25px;
  position: absolute;
  margin-top: -65px;
}

.us{
  background-color: #bdc3c7;
  display: none;
}

.state {
  background-color: #D64541;
  display: none;
}

.overlay {
  opacity: 0.2;
}

/* Loading spinner
=============== */
.spinner {
  display: none;
  position: absolute !important;
  margin: 275px 40%;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #4183D7;
  border-radius: 100%;
  z-index: 10;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  background-color: #D64541;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*map css
=========*/
.background {
  fill: none;
  pointer-events: all;
  margin-left: 70%;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: #2980b9;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*Temp chart
===========*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.client .marker-bg,
.marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}
