/*output css
=========*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

body {
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-top: 250px;
  position: absolute;
  margin-left: 400px;
  display: none;
}

.partial-home svg{
  display: none;
}
.sweet-alert {
  background-color: #2c3e50 !important;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 2000;
}

.sweet-alert h2, .sweet-alert p {
  color: #ecf0f1 !important;
  font-family: 'Open Sans', sans-serif;
}

.sweet-alert button {
  background-color: #27ae60 !important;
  color: #ecf0f1 !important;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0px !important;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

.theApp a:active {
  color: #ecf0f1 !important;
}

.btn {
  height: 50px !important;
  margin-top: -17px !important;
  margin-left: -4px !important;
  border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

form input {
  width: 300px;
  height: 50px;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

.measuring-bar {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #404041;
  position: relative;
}

.output {
  width: 70%;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  z-index: 10;
  font: 16px 'Open Sans';
  color: #2c3e50;
  display: none;
}

.credit {
  position: absolute;
  margin-top: 550px;
  right: 30px;
  font-weight: thin;
  font: 15px 'Open Sans';
}

.credit a {
  color: #2c3e50;
}

.watson {
  line-height: 25px;
}

.intro {
  width: 90%;
  margin-left: 50px;
}

.credit a:hover {
  color: #2c3e50
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
}

#another {
  display: nonel
}

.navbar-default {
  background-color: #2c3e50 !important;
  border-color: #080808 !important;
}

#nav-right {
  width: 210px;
  position: absolute;
  margin-left: 650px;
}

.screenshots  {
  color: white !important;
  list-style: none;
}

.screenshots a:hover {
  color: black !important;
  list-style: none !important;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white !important;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #27ae60;
}

.navbar-default .navbar-brand {
  color: #ecf0f1 !important;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.btn-success {
  background-color: #27ae60 !important;
}

.navbar-default:hover .navbar-brand:hover {
  color: #27ae60 !important;
}

.output .circle {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  position: absolute;
  margin-top: 1.5px;
}

.us{
  background-color: #2c3e50;
  display: none;
}

.state {
  background-color: #D64541;
  display: none;
}

.overlay {
  opacity: 0.2;
}

.tags {
  margin-left: 220px;
}

#tag {
  margin-left: 30px;
  margin-top: 2px; 
  position: absolute;
}
.topicDiv {
  position: absolute;
  width: 30px !important;
  margin-top: -40px;
  margin-left: 30%;
  text-align: center;
}

.stateDiv {
  position: absolute;
  margin-top: -40px;
  margin-left: 55%;
  width: 10%;
  text-align: center;
}

.topic {
  font-weight: bold;
  font-size: 1.5em;
}

.titleDiv {
  text-align: center;
  margin-bottom: 30px;
}

/* Loading spinner
=============== */
.spinner {
  display: none;
  position: absolute !important;
  margin: 275px 40%;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #4183D7;
  border-radius: 100%;
  z-index: 10;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  background-color: #D64541;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*map css
=========*/

.background {
  fill: none;
  pointer-events: all;
  margin-left: 70%;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: #2980b9;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*Temp chart
===========*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -80px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.client .marker-bg,
.marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

@media (max-width: 1200px) {
  #showcase img {
    width: 90%;
  }
}