<section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12 intro">
          <br>
          <h1>Welcome To <b>Personify</b></h1>
          <h3 class="landText">This application was built using <a class="big-five" href="http://personifyjs.github.io/" target="_blank"><u>Personify.js</u></a>, a JavaScript-based library that allows easy access to IBM Watson services and Twitter data.</h3>
          <br>

          <h3><strong>This Application</strong></h3>

              <h3 class="watson landText">
                Extracts cognitive and social characteristics, including <u><a class="big-five" href="http://en.wikipedia.org/wiki/Big_Five_personality_traits" target="_blank"> Big Five Personality Traits</a></u>, Values, and Needs, from communications data provided by Twitter. 
              </h3>
          </ul>
          <br>

          <h3><strong>What Does This App Do?</strong></h3>
          <h3 class="landText watson"> When you enter a search term, you'll get back Big Five personality traits from a collective group of tweets on that topic from a specified US state. You'll find out which traits stand out in people discussing the topic. You'll also receive data on how those traits compare to the US in general. What are the traits of people talking about the latest news headline? Your company's products? Your favorite brands?
          </h3>
          </div>
        </div>
      </div> <!--/ .container -->
      <div>
        <br><br>
        <h3><a class="screenshots col-lg-12 row centered big-five" href="#"><u>Click Here For ScreenShots</u></a></h3>
      </div>
  </div><!--/ #headerwrap -->
<div id="shots">
  <section id="showcase" name="showcase"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered screenshot">Screenshots of the application that was buid on Personfy.js</h1>
        <br>
        <ul>
          <li><img src="https://s3-us-west-1.amazonaws.com/personify.js/Screen1.png"></li><br>
          <li><img src="https://s3-us-west-1.amazonaws.com/personify.js/Screen2.png"></li><br>
          <li><img src="https://s3-us-west-1.amazonaws.com/personify.js/Screen3.png"></li><br>
        </ul>
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div> 
</div> 

    <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Meet the Team</h1>
        <br>
        <br>
        <div class="col-lg-4 meet-team">
          <a href="http://essam.io" target="_blank"><img class="team-pic" src="https://s3-us-west-1.amazonaws.com/personify.js/essam_pic.jpeg" alt="Essam Al Joubori"></a>
          <a href="http://essam.io" target="_blank"><h3 class="names">Essam Al Joubori</h3></a>
          <p>Full Stack Software Engineer</p>
        </div>
        <div class="col-lg-4">
          <a href="https://github.com/rohanagrawal" target="_blank"><!-- <img src="assets/img/intro02.png" alt="Rohan Agrawal"> --></a>
          <a href="https://github.com/rohanagrawal" target="_blank"><h3 class="names">Rohan Agrawal</h3></a>
          <p>Full Stack Software Engineer</p>
        </div>
        <div class="col-lg-4">
          <a href="http://philelauria.codes" target="_blank"><img class="team-pic" src="https://s3-us-west-1.amazonaws.com/personify.js/Phil.jpeg" alt="Phil Elauria"></a>
          <a href="http://philelauria.codes" target="_blank"><h3 class="names">Phil Elauria</h3></a>
          <p>Full Stack Software Engineer</p>
        </div>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->

  <script>
    $('.screenshots').on('click', function(e){
      e.preventDefault();
      $("html, body").animate({ scrollTop: "950px", duration: 500 });
    });
  </script>