<div id="partial-app">
  <div ng-controller="MapCtrl">
    <form>
      <input type="text" name="searchVal"
        ng-model="val"
        ng-model-options="{ getterSetter: true }"
        placeholder=" e.g. #nike"/>
        <button class="btn submit btn-success" type="submit">Submit</button>
    </form>
    <div id='resultsContainer'>
      <!-- d3 output graph -->
    </div>
    <!-- loading icon -->
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    
    <div class="output">
    <div class="titleDiv">
      <span class="topic">{{hashTag}}</span>
    </div>
    <div class="row trait-row">
      <div class="col-md-3">
        <p class="text-right">consistent/cautious</p>
          </div><div class="col-md-3 col-md-push-6">
            <p class="text-left">inventive/curious</p></div>
            <div class="col-md-6 col-md-pull-3">
              <div class="measuring-bar">
                <div>
                <div id="a1" class="circle us"></div>
                <div id="b1" class="circle state"></div>
                </div>
                </div></div></div>
                <div class="row trait-row">
                <div class="col-md-3">
                <p class="text-right">efficient/organized</p>
                </div><div class="col-md-3 col-md-push-6">
                <p class="text-left">easy-going/careless</p>
                </div><div class="col-md-6 col-md-pull-3">
                <div class="measuring-bar">
                <div>
                <div id="a2" class="circle us"></div>
                <div id="b2" class="circle state"></div>
                </div>
                </div></div></div>
                <div class="row trait-row">
                <div class="col-md-3">
                <p class="text-right">outgoing/energetic</p>
                </div><div class="col-md-3 col-md-push-6">
                <p class="text-left">solitary/reserved</p>
                </div><div class="col-md-6 col-md-pull-3">
                <div class="measuring-bar">
                <div>
                <div id="a3" class="circle us"></div>
                <div id="b3" class="circle state"></div>   
                </div>
                </div></div></div>
                <div class="row trait-row"><div class="col-md-3"><p class="text-right">friendly/compassionate</p></div>
                <div class="col-md-3 col-md-push-6">
                <p class="text-left">analytical/detached</p>
                </div>
                <div class="col-md-6 col-md-pull-3">
                <div class="measuring-bar">
                <div>
                  <div id="a4" class="circle us"></div>
                  <div id="b4" class="circle state"></div>
                </div></div></div></div>

                <div class="row trait-row"><div class="col-md-3"><p class="text-right">sensitive/nervous</p></div>
                <div class="col-md-3 col-md-push-6">
                <p class="text-left">secure/confident</p>
                </div>
                <div class="col-md-6 col-md-pull-3">
                <div class="measuring-bar">
                <div>
                  <div id="a5" class="circle us"></div>
                  <div id="b5" class="circle state"></div>
                </div></div></div></div>

                <div class="tags">
                  <div class="circle us"></div><span id="tag">US</span><br>
                  <div class="circle state"></div><span id="tag">State</span>
                </div>
                <br><br><br><br><br>
                <div class="topicDiv">
                  <button class="btn btn-success" id="anotherTopic">Try Another Topic</button>
                </div>
                <div class="stateDiv">
                  <button class="btn btn-success" id="anotherState">Compare Another State</button>
                </div>
  </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58451637-2', 'auto');
    ga('send', 'pageview');
</script>

